body{
    background-color: black;
    margin-top: 60;
    margin-left: 60;
    margin-right: 60;
    margin-bottom: 60:
}

h1{
    color: white;
    text-align: center;
    font-size: 30;
    font-family: sans-serif;
}

h2{
    font-style: normal;
}

a{
    color: white;
    font-size: 40;
    font-family: sans-serif;
    
}

section{
    text-align: center;
    padding: 30;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}